<div class="container mt-3">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Cocktails</h1>
    </div>
  </div>

  <div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <% if cocktail.photo.attached? %>
        <%= cl_image_tag cocktail.photo.key, height: 425, width: 285, crop: :fill %>
        <% else %>
        <img src="https://images.unsplash.com/photo-1549746434-6331eadece3c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" class="card-img-top" alt="...">
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= cocktail.name %></h5>

          <%= link_to 'View Cocktail', cocktail_path(cocktail), class: "btn btn-primary"%>
        </div>
      </div>
      </div>
      <% end %>
  </div>
</div>


<% @cocktails.each do |cocktail| %>
<%= link_to cocktail_path(cocktail) do %>
<!-- <p><%= cocktail.name %></p> -->
<% end %>
<% end %>
<br>
<br>
<br>
<%= link_to 'Create', new_cocktail_path, class: "btn btn-danger btn-lg center-block" %>
